html {
  height: 100%;
}
body {
  min-height: 100%;
}

.navigation {
  border-bottom: 5px solid;
}

footer {
  border-top: 5px solid;
}

div.header {
  background-image: url("./img/kai-pilger-1255881-unsplash.jpg");
  background-position: center;
  background-size: cover;
  height: 350px;
  position: relative;
}

div.header::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.box-shadow {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

div.content {
  margin-top: -250px;
}

img.passenger-icon {
  width: 25px;
  height: 25px;
}
